<!-- HOME Section -->
<section id="home" class="page-activ">
    <!--
          IMPORTANT: Includes function javascript of custom.js.
                     Section name: LOAD FULL SCREEN IMAGE
    -->
    <div class="content table home-bg">
        <div class="table-middle">

            <div class="intro-text">

                <h1>
                    <strong>I'm <span class="color-default">&nbsp;John Doe&nbsp;</span></strong>
                </h1>

                <!-- OWL-CAROUSERL  -->
                <!--
                      IMPORTANT: Includes function javascript of custom.js.
                                 Section name: TEXT ROTATOR
                -->
                <div class="owl-carousel rotate-text">
                    <div class="item">
                        <h3>Professional <strong>web designer</strong></h3>
                    </div>
                    <div class="item">
                        <h3>Professional <strong>developer</strong></h3>
                    </div>
                    <div class="item">
                        <h3>Professional <strong>programer</strong></h3>
                    </div>
                </div>
                <!-- end: OWL-CAROUSERL  -->


            </div><!-- .intro-text -->

        </div><!-- .table-middle -->
    </div><!-- .content -->
</section>
<!-- end: HOME Section -->